.manual-override{
    margin:10% 10% 5% 5%;
    height: 418px;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border: 3px #1d3557 solid;
    border-radius: 5%;
    color:#1d3557;
    justify-items: center;
    justify-content: space-evenly;

}

.radio{
    display: flex;
    justify-content: space-evenly;
    

}
.confirm{
    width: 60%;
}
.x-y{
    width: 40%;
}

.radio-button{
    width:30px;

}